.navbar.navbar-inverse {
    opacity:0.9;
}

.no-padding-col > div {
    padding:0 0 0 0;
}

.jingpin-tab.active {
    background-color: yellow;
}

.jingpin-tab-panel {
    display: none;
}

.service-process-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/serviceprocess/bg.jpg)
}

.process-sharp-sm {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background-color: yellow;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
}
.process-sharp-sm:hover {
    background-color: transparent;
    color: #dddddd;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.process-sharp-md {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: yellow;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
}
.process-sharp-md.active {
    background-color: transparent;
    color: #dddddd;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
.process-sharp-vertical-mod.inactive {
    display: none!important;
}
.process-sharp-vertical-mod {
    margin:0px auto;
    border:0px;
    border-left:1px solid white;
    height:42px;
    width:0px;
    text-align: center;
}
.process-step-horizontal-mod {
    display: none;
    margin-top: -6px;
}
.process-step-detail {
    display:none;
    color: white;
}

.circle-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/circle.png);
}

.circle-bg.active {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/circle-yellow.png);
}

.newsitem-date {
    color:#999999;
    width:75px;
    height:75px;
    float:left;
}
.newsitem-day {
    width:75px;
    height:50px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-size:30px;
    background-color:#222326;
}
.newsitem-month {
    width:75px;
    height:24px;
    position:relative;
    top:1px;
    padding-top:3px;
    text-align:center;
    font-size:12px;
    background-color:#222326;
}
.newsitem-textpanel {
    margin-left:95px;
}
.newsitem-header {
    font-size:16px;
    font-weight:bold;
    color:#dddddd;
}
.newsitem-summary {
    font-size: 13px;
    color:#808080;
    margin-top:15px;
}