.navbar.navbar-inverse {
    opacity:0.9;
}

.no-padding-col > div {
    padding:0 0 0 0;
}

.jingpin-tab.active {
    background-color: yellow;
}

.jingpin-tab-panel {
    display: none;
}

.circle-bg {
    background-image: url(images/circle.png);
}

.circle-bg.active {
    background-image: url(images/circle-yellow.png);
}
