.navbar.navbar-inverse {
    opacity:0.9;
}

.no-padding-col > div {
    padding:0 0 0 0;
}

.jingpin-tab.active {
    background-color: yellow;
}

.jingpin-tab-panel {
    display: none;
}

.service-process-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/serviceprocess/bg.jpg)
}

.process-sharp-sm {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background-color: yellow;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
    color: #dddddd;
}
.process-sharp-sm:hover {
    background-color: transparent;
    color: #dddddd;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.process-sharp-md {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: yellow;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
}
.process-sharp-md:hover {
    background-color: transparent;
    color: #dddddd;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.circle-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/circle.png);
}

.circle-bg.active {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/circle-yellow.png);
}
